@import "reset.css";

.header-menu {
  display: flex;
  width: 620px;
  margin: 25.5px auto;
  justify-content: space-between;
  list-style: none;
}

.menu-link {
  color: #ff0000;
  text-transform: uppercase;
  font: Montserrat;
  font-weight: bold;
}
.image-phone {
  display: flex;
  margin: 0 auto;
}
.slogan {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: 3.3px;
  color: #373737;
  margin: 48px 0 38px 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.content-first {
  width: 1145px;
  text-align: center;
  margin: 0 67.5px 28px 67.5px;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 2.4px;
  color: #373 737;
}
.content-two {
  width: 1145px;
  text-align: center;
  margin: 0 67.5px 66px 67.5px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
}
.button {
  margin: 0 544.5px 42px 544.5px;
  text-align: center;
  padding: 18px 43.5px 17px 42.5px;
  width: 191px;
  height: 51px;
  background: #ff0000;
  border-radius: 4px;
}
.content-button {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1.8px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer {
  width: 1280px;
  margin: 0 auto;
}

.copyright {
  margin: 40px 105px 29px 713px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
